Package: dev.und3fy.kbsync
Name: KbsyncTweak
Version: 0.0.3-4
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: und3fy
Author: Rachel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.opa334.libsandy, dev.und3fy.rocketbootstrapfix, firmware (>= 14.0)
Conflicts: com.darwindev.kbsync
