name: Build deb with rootless

on:
  push:
    #tags:
    #  - 'v*'

    #branches: [ master ]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Prepare Theos
        uses: und3fined/theos-action@main # Randomblock1/theos-action@v1

      - name: Build package
        run: |
          rm -f packages/*
          make package FINALPACKAGE=1
      - name: Publish artifact
        uses: actions/upload-artifact@v4.3.0
        with:
          name: com.darwindev.kbsynctool
          path: ${{ github.workspace }}/main/packages/*.deb
